body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.divpublicidadMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(217, 216, 216, 0.886);
}
.divpublicidadMobile img {
  margin-top: 20px;
  height: 100px;
  width: 350px;
}
.divpublicidadMobile h6 {
  font-weight: normal;
  color: rgb(70, 70, 70);
  margin-top: 4px;
  margin-bottom: 20px;
  height: 1px;
  width: 3px;
}

.texPublicidadMobile {
  text-decoration-color: azure;
}
.navbarMobile {
  display: flex;
  align-items: center;

  background-color: rgba(235, 235, 235, 0.8);
}
.navbarMobile h3 {
  margin-left: 10px;
}
.navbarMobile h4 {
  margin-left: 30px;
  padding: 10px;
  border: 1px solid #000;
  font-weight: normal;
  border-radius: 6px;
}
.navbarMobile svg {
  margin-left: 15px;
}

.notasAudio {
  display: flex;
  align-items: center;
}
.notasAudio svg {
  margin-left: 10px;
}
.notasAudio h5 {
  margin-left: 15px;
}
.AudioNormal {
  font-weight: normal;
  margin-right: 10px;
}
.transmisionVivoMobile {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 250px;
}
.transmisionVivoMobile iframe {
  margin-top: 40px;
}
.transmisionVivoMobile2 {
  display: flex;
  justify-content: left;
  background-color: black;
  height: 30px;
}
.transmisionVivoMobile2 svg {
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.transmisionVivoMobile3 {
  display: flex;
  justify-content: left;
  background-color: black;

  height: 220px;
}

.transmisionVivoMobile2 h4 {
  margin-top: 10px;
  color: #fff;
}
.transmisionVivoMobile3 h1 {
  margin-top: 10px;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.subtituloMobile {
  display: flex;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.subtituloMobile h6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  font-weight: normal;
}
.titleMobile {
  margin-top: 0px;
}
.titleMobile h6 {
  font-weight: normal;
  margin-bottom: 4px;
  margin-left: 20px;
  margin-right: 15px;
}
.titleMobile h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.videoTitleMobile {
  display: flex;
  justify-content: center;
  height: 250px;
  margin-bottom: 0px;
}
.textoActualidadMobile {
  margin-left: 15px;
  margin-right: 15px;
}
.textoActualidadMobile h6 {
  color: gray;
}
.videof {
  margin: 15px;
  width: 100% !important;
  height: 100% !important;
}
